<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>Error | UnWise</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
<section class="section hero is-fullheight has-background-white-ter">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6-tablet is-5-desktop is-4-widescreen">
        <h1 class="title has-text-centered">Error</h1>
        <div class="box">
          <div class="content">
            <p>
              <strong>Oops!</strong> Something went wrong.
            </p>
            <p>
              <a href="/" class="button is-danger">Go back</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>